body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
h1{font-weight: 700;}
h3{color: #800000;}
h1{color: #800000;}

h4{font-weight: 600;}
.main{
    
    background-size:  100%;
    background-repeat: no-repeat;
    /* background-size: cover; */
}
.fixed-top{
    background-color: #800000 !important;
    max-height: 3.5rem !important;
}
.navbar-brand{
    font-size: 2rem;
    font-weight: 700;
}

.nav-link{
    font-size: 1rem;
    font-weight: 600;
    color: #f9f2f2 !important;
    text-transform: uppercase;
    padding-right: 2rem;
}
.navbar-nav.ms-auto {
    padding-bottom:.1rem;
    padding-left:2rem;
    text-align: right;
}

.nav-link:hover{
    border-bottom: 1px solid #f9f2f2;
}
.col-md-6 img{
    border-radius: 25%;
    border:8px solid #800000;
}
.col-md-5 img{
    border-radius:50%;
    border:5px solid #800000;
    
  }
  
  hr{
    border:3px solid black;
    
  }
/* btn */
.btn-primary{
    background-color: #800000;
    border: #800000;
    padding: 1rem 3rem;
}
.btn-primary:hover{
    background-color: #f9f2f2;
    color: #800000;
    border: #800000 !important;
}
.btn-secondary{
    background-color: #f9f2f2;
    color: #800000;
    border: none;
}
.btn-secondary:hover{
    background-color: #902323;
    border: #f9f2f2 !important;
}

.about-img{
    border-radius:25%;
    border: 6px solid #800000;
}

.progress-bar{
    background-color: #800000;
    color: #f9f2f2;
}

#services{
    background-color: #f9f2f2;
}
.card{
    background-color: #f9f2f2;
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
}
.card:hover{
    background-color: #800000;
      color: #f9f2f2;
}


.content{
    position: relative;
    width: 90%;max-width: 400px;
    margin: auto;
    overflow: hidden;
}
.content .content-overlay{
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: 99%;width: 100%;
    left: 0;top: 0;bottom: 0;right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s
}
.content:hover 
.content-overlay{opacity: 1}

.content-image{
    width: 100%;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: .5px;
}
.content-details{
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;width: 100%;top: 50%;left: 50%;
    opacity: 0;-webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s
}
.content:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
}
.content-details h3{
    color: #fff;font-weight: 500;
    letter-spacing: 0.15em;margin-bottom: 0.5em;
    text-transform: uppercase
}
.content-details p{
    color: #fff;
    font-size: 0.8em
}
.fadeIn-bottom{top: 80%}
.resume .resume-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left:20px;
    color:#800000;
  }
  
  .resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #800000;
    position: relative;
  }
  
  .resume .resume-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #050d18;
    margin-bottom: 10px;
  }
  
  .resume .resume-item h5 {
    font-size: 16px;
    background:bisque;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  
  
  .resume .resume-item:last-child {
    padding-bottom: 0;
  }
  
  .resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid #800000;
  }

.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-twitch:hover {
    color: white;
}
.fab {
    color: #800000;
}
/* footer styling */
#footer {
    background-color:  black;
    text-align: center;
}

